<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WebsSockets</title>
    <link rel="stylesheet" href="style.css">
</head>
<div>
        <h1>$username</h1>
</div>
<div>
    #set($imageIDsString = "")

    #set($end = $posts.size())
    #set($interval = ($end - $1))
    #foreach($i in [0..$interval])
    <h2>$i</h2>
    <h2>Poster Name = $posts.get($i).getName()</h2>
        #set($stickerIDsSize = $posts.get($i).getStickerIDs().size())
        #set($stickerInterval = ($stickerIDsSize - $1))
        #foreach($k in [0..$stickerInterval])
        <h2>$posts.get($i).getStickerIDs().get($k)</h2>
        #end
    #end
</div>
<body>
<div id="chatControls">
    <input id="message" placeholder = "...">
        <button id="send">Send</button>
</div>


<ul id="userlist"> <!-- Built by JS --> </ul>
<div id="chat">    <!-- Built by JS --> </div>
<script src="websocketDemo.js"></script>
</body>
</html>